<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.rishi.family">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.insertdata.InsertDataActivity"
            android:parentActivityName=".activity.homescreen.HomeScreenActivity"></activity>
        <activity
            android:name=".GiftRecActivity"
            android:parentActivityName=".activity.homescreen.HomeScreenActivity"></activity>
        <activity
            android:name=".activity.displaydata.DatesActivity"
            android:parentActivityName=".activity.homescreen.HomeScreenActivity"
            ></activity>
        <activity
            android:name=".activity.familytree.FamilyTreeActivity"
            android:parentActivityName=".activity.homescreen.HomeScreenActivity"></activity>
        <activity
            android:name=".activity.homescreen.HomeScreenActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.signup.SignupActivity"
            android:parentActivityName=".activity.login.LoginActivity"></activity>
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AutoSmsScheduler"/>
        <activity android:name=".activity.sms.CreateSmsScheduleActivity"/>
        <activity android:name=".activity.sms.SmsSchedulerActivity"/>
<activity android:name=".activity.sms.SmsUpdateSchedulerActivity"/>
        <receiver android:name=".MyBroadcastReceiver" />
    </application>

</manifest>